html,
body {
  height: 100%;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;

}

body {
  text-align: center;
  background-image: url("../images/StarWarsBG.jpg");
}

#end {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

#start {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

#wrapper {
  border-radius: 25px;
  width: 960px;
  min-height: 80%;
  box-sizing: border-box;
  padding: 5% 0;
  margin: 5% auto;
  background-color: lightgrey;
}

#sub-wrapper {
  position: relative;
  top: 20%;
}

button {
  border-radius: 25px;
  display: block;
  width: 400px;
  height: 100px;
  margin: 10px auto 0;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

h1 {
  margin-bottom: 50px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 6.5em;
  font-weight: bold;
  color: darkorange;
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

#start {
  margin-top: 10%;
  background: darkorange;
  border: 2px solid grey;
}

#quiz-area h2 {
  margin-top: 50px;
}

button:hover {
  background: darkorange;
  border: 2px solid grey;
}